body {
    margin: 0;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000080, #000);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    #background-color: rgba(255, 255, 255, 0.8);
    #box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 820px;
    margin: 0px auto;
    margin-top: 50px;
}

.textbox {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

.output {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 300px;
}

.btn {
    background: linear-gradient(to bottom, #000080, #000);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.inline-div {
    display: inline-block;
}

.box {
    width: 31%;
    display: inline-block;
    height: 50%;
    border-radius: 6px;
}

.box2 {
    width: 10%;
    display: inline-block;
    border-radius: 6px;
}